.footer-container {
  background-color: #006a5d;
  color: #fff;
  padding: 13px 20px;
  border-top: 10px solid #efefef;
}
.footer-copyright {
  grid-column: span 3; 
  text-align: center;
  font-size: 12px;
}
