/* Dashboard */
  .dashboard {
    padding: 20px;
  }

  .heading {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    color: #333;
  }

  /* Library Tabs Section */
  .libraryTabs {
    // display: flex;
    // justify-content: left;
    // flex-wrap: wrap;
    // gap: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 boxes per row */
    gap: 10px;
    /* uniform gap */
    margin-bottom: 40px;
  }

  .libraryBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 27px;
    text-align: left;
    /* left padding for text */
    width: 200px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
    border: 1px solid #33abc2;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .libraryBox:hover {
    background: #f3faff;
    transform: translateY(-3px);
    border: 1px solid #ddd;
  }

  .libraryBox.active {
    border: 1px solid #33abc2;
    background: #33abc2;
    color: #fff;
  }

  .libraryBox.active .circle-icon {
    background: #fff;
  }

  .libraryBox.active .circle-icon img {
    filter: brightness(0) saturate(100%) invert(57%) sepia(96%) saturate(564%) hue-rotate(145deg) brightness(89%) contrast(96%);
  }


  /* Circle Icon */
  .circle-icon {
    position: absolute;
    left: -25px;
    /* half outside */
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #33abc2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .circle-icon img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    /* make logo white */
  }

  .libraryName {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    word-break: break-word;
  }

  /* Content Section */
  .contentSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
  }

  /* Boxes */
  .box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
  }

  .box-header h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #0078d4;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .table th,
  .table td {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 14px;
  }

  .table th {
    background: #f9f9f9;
    font-weight: 600;
  }

  .noData {
    text-align: center;
    color: #999;
    padding: 20px;
  }

  /* Recent Files */
  .recentFiles ul {
    list-style: none;
    padding: 0;
  }

  .recentFiles li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
  }














  @import '~@fluentui/react/dist/sass/References.scss';

.apsrdms {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

:global {


  #sp-appBar {
    display: none;
  }

  #spTopPlaceholder {
    display: none;
  }

  #spLeftNav {
    display: none;
  }

  #spSiteHeader {
    display: none;
  }

  #spCommandBar {
    display: none;
  }

  #CommentsWrapper {
    display: none;
  }

  div[data-automation-id="pageHeader"] {
    display: none !important;
  }

  div[data-automation-id="CanvasZone"] {
    padding: 0px 0px !important;
    max-width: 100% !important;
  }

  div[data-automation-id="CanvasSection"] {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  div[data-automation-id="CanvasControl"] {
    padding: 0px !important;
    margin: 0px !important;
  }

  div[data-automation-id="CanvasZone"]>div {
    max-width: 100% !important;
  }

  .ms-HubNav {
    display: none !important;
  }

  #RecommendedItems {
    display: none;
  }

  .p_e_50a7110f {
    padding: 0px !important;
  }



  #workbenchPageContent {
    max-width: 100% !important;
  }


  /* Dashboard */
  .dashboard {
    padding: 10px;
  }

  .heading {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
  }

  /* Library Tabs Section */
  .libraryTabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 boxes per row */
    gap: 10px;
    /* uniform gap */
    margin-bottom: 30px;
  }

  .libraryBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 27px;
    margin-left: 25px;
    text-align: left;
    /* left padding for text */
    // width: 200px;
    height: 40px;
    // width: 100%;
    /* take full width of grid cell */
    box-sizing: border-box;
    /* avoid overflow */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
    border: 1px solid #33abc2;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .libraryBox:hover {
    background: #f3faff;
    transform: translateY(-3px);
    border: 1px solid #ddd;
  }

  .libraryBox.active {
    border: 1px solid #33abc2;
    background: #33abc2;
    color: #fff;
  }

  .libraryBox.active .circle-icon {
    background: #fff;
    border: 1px solid #ddd;
  }

  .libraryBox.active .circle-icon img {
    filter: brightness(0) saturate(100%) invert(57%) sepia(96%) saturate(564%) hue-rotate(145deg) brightness(89%) contrast(96%);
  }


  /* Circle Icon */
  .circle-icon {
    position: absolute;
    left: -25px;
    /* half outside */
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #33abc2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .circle-icon img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    /* make logo white */
  }

  .libraryName {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    word-break: break-word;
  }

  /* Content Section */
  .contentSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  .block {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }

  /* Boxes */
  .box {
    padding: 0px 10px 10px 10px;
  }

  .box-header,
  .box-headersec {
    background: #33abc2;
  }

  .box-header h2 {
    font-size: 15px;
    margin-bottom: 0.5rem;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-headersec h2 {
    font-size: 15px;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px !important;
    border: 1px solid #eee;
  }


  .table thead tr {
    // background: linear-gradient(90deg,
    //     #fff 23%,
    //     var(--bg-color, #1fa5bd) 55%) !important;
    background-color: #119db8 !important;
  }

  .table thead th {
    background: transparent !important;
    /* so gradient from row shows through */
    color: #fff;
    /* make text readable if needed */
    text-align: left;
    /* optional */
    padding: 5px 10px;
    font-size: 14px;
  }

  .table td {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 12px;
  }

  .table th {
    background: #f9f9f9;
    font-weight: 600;
  }

  .noData {
    text-align: center;
    color: #999;
    padding: 20px;
  }

  /* Recent Files */
  .recentFiles ul {
    list-style: none;
    padding: 0;
  }

  .recentFiles li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    text-align: left;
  }




  // Table css 


  .arrow-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    /* allow wrapping to new row */
    align-items: center;
    font-size: 14px;
    gap: 5px;
    margin-bottom: .5rem !important;
  }

  .arrow-crumb {
    position: relative;
    padding: 8px 25px 8px 35px;
    background: #d9534f;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-right: 0;
    /* remove gap, overlap instead */
    clip-path: polygon(0 0,
        /* top left */
        calc(100% - 15px) 0,
        /* before arrow head */
        100% 50%,
        /* arrow point */
        calc(100% - 15px) 100%,
        /* after arrow head */
        0 100%,
        /* bottom left */
        15px 50%
        /* inner notch */
      );
    flex-shrink: 0;
    transition: background 0.2s;
  }

  .arrow-crumb:first-child {
    background: #c9302c;
    padding-left: 20px;
  }

  .arrow-crumb:last-child {
    background: #33abc2;
    color: #fff;
  }




}