@import '~@fluentui/react/dist/sass/References.scss';

// @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
.apsrdms {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  // &.teams {
  //   font-family: $ms-font-family-fallbacks;
  // }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

:global {


  body,
  .CanvasZone,
  .ControlZone,
  .ms-Fabric {
    font-family: 'Tajawal', sans-serif !important;
  }

  #sp-appBar {
    display: none;
  }

  #spTopPlaceholder {
    display: none;
  }

  #spLeftNav {
    display: none;
  }

  #spSiteHeader {
    display: none;
  }

  #spCommandBar {
    display: none;
  }

  #CommentsWrapper {
    display: none;
  }

  div[data-automation-id="pageHeader"] {
    display: none !important;
  }

  div[data-automation-id="CanvasZone"] {
    padding: 0px 0px !important;
    max-width: 100% !important;
  }

  div[data-automation-id="CanvasSection"] {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  div[data-automation-id="CanvasControl"] {
    padding: 0px !important;
    margin: 0px !important;
  }

  div[data-automation-id="CanvasZone"]>div {
    max-width: 100% !important;
  }

  .ms-HubNav {
    display: none !important;
  }

  #RecommendedItems {
    display: none;
  }

  .p_e_50a7110f {
    padding: 0px !important;
  }



  #workbenchPageContent {
    max-width: 100% !important;
  }


  /* Dashboard */
  .dashboard {
    padding: 10px;
  }


  // -------------------------------   Heading part strip css  ---------------------------


  /* Header strip */
  .Headingstrip {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* Left | Center | Right */
    align-items: center;
    padding: 8px 10px;
    background: #0096B3;
    color: #fff;
    margin-bottom: 20px;
  }

  /* Left side (logo) */
  .Headingstrip .mainlogo {
    justify-self: start;
  }

  .Headingstrip .logo {
    height: 30px;
    margin-right: 5px;
  }

  .Headingstrip .logoname {
    height: 23px;
    width: 155px;
  }

  /* Center heading */
  .Headingstrip .heading {
    justify-self: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #fff;
    text-align: center;
  }

  /* Right side (user profile) */
  .userProfile {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: end;
  }

  .userProfile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
  }

  .userProfile div {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    text-align: right;
  }

  .userProfile span {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
  }

  .userProfile small {
    font-size: 12px;
    color: #f0f0f0;
  }


  //  -------------------------------------------------------------------------------



  // ----------------------------   Directory part css   ----------------------------

  .libraryContainer {
    padding: 10px;
    box-shadow: 0 0 .25em rgba(67, 71, 85, .27), 0 .25em 1em rgba(90, 125, 188, .05);
    margin-bottom: 10px;
  }

  .libhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .libhead h3 {
    font-size: 15px;
    color: #000;
    margin: 0px;
  }

  /* Optional: spacing inside left container */
  .dropdown {
    position: relative;
    display: flex;
  }

  /* Dropdown Button */
  .dropbtn {
    background-color: #0096B3;
    color: white;
    padding: 5px 8px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Tajawal', sans-serif;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  /* Arrow */
  .downArrow {
    height: 15px;
    width: 15px;
  }

  /* Button hover effect */
  .dropbtn:hover {
    background-color: #2a8ba0;
  }

  /* Dropdown Menu */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 180px;
    box-shadow: 0 0 .25em rgba(67, 71, 85, .27), 0 .25em 1em rgba(90, 125, 188, .05);
    border-radius: 6px;
    z-index: 10;
    margin-top: 4px;
    flex-direction: column;
  }

  /* Show dropdown when active */
  .dropdown-content.show {
    display: flex;
  }

  .icon img {
    height: 15px;
    width: 15px;
  }


  /* Menu items */
  .dropdown-content a {
    color: #333;
    padding: 10px 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s;
    border-radius: 4px;
    border-bottom: 1px solid #ddd;
  }

  /* Menu item hover */
  .dropdown-content a:hover {
    background-color: #f3f3f3;
  }


  // ----------------------   slider css      -------------------------

  .librarySliderWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sliderButtons {
    display: flex;
    justify-content: end;
  }

  .sliderButtons button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0px 3px;
  }

  .sliderButtons button:disabled {
    cursor: not-allowed;
  }


  // --------------------------------------------------


  //----------------------------  Library tabs css      ---------------------------


  /* Library Tabs Section */
  .libraryTabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 5 boxes per row */
    gap: 10px;
  }

  .iconblack {
    width: 15px;
    height: 15px;
  }

  .libraryBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 27px;
    margin-left: 25px;
    text-align: left;
    height: 40px;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
    border: 1px solid #0096B3;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .libraryBox:hover {
    background: #f3faff;
    transform: translateY(-3px);
    border: 1px solid #ddd;
  }

  .libraryBox.active {
    border: 1px solid #0096B3;
    background: #0096B3;
    color: #fff;
  }

  .libraryBox.active .circle-icon {
    background: #fff;
    border: 1px solid #ddd;
  }

  .libraryBox.active .circle-icon img {
    filter: brightness(0) saturate(100%) invert(57%) sepia(96%) saturate(564%) hue-rotate(145deg) brightness(89%) contrast(96%);
  }

  /* Circle Icon */
  .circle-icon {
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #0096B3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .circle-icon img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
  }

  .libraryName {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    word-break: break-word;
  }


  //--------------------------------------------------------


  // -------------------------   folder and files webpart css  ----------------------------

  /* Content Section */
  .contentSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  .block {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }

  /* Boxes */
  .box {
    padding: 0px 10px 10px 10px;
  }

  .box-header,
  .box-headersec {
    background: #0096B3;
  }

  .box-header h2 {
    font-size: 15px;
    margin-bottom: 0.5rem;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-headersec h2 {
    font-size: 15px;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px !important;
    border: 1px solid #eee;
  }


  .table thead tr {
    // background: linear-gradient(90deg,
    //     #fff 23%,
    //     var(--bg-color, #1fa5bd) 55%) !important;
    background-color: #119db8 !important;
  }

  .table thead th {
    background: transparent !important;
    /* so gradient from row shows through */
    color: #fff;
    /* make text readable if needed */
    text-align: left;
    /* optional */
    padding: 5px 10px;
    font-size: 14px;
  }

  .table thead th:last-child,
  .table tbody td:last-child {
    text-align: center;
  }

  .table td {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 12px;
  }

  .table th {
    background: #f9f9f9;
    font-weight: 600;
  }

  .noData {
    text-align: center;
    color: #999;
    padding: 20px;
  }


  //--------------------------------------------------------

  // ---------------------------   Table pagination css   -------------------------

  .pagination {
    display: flex;
    justify-content: flex-end;
    /* ⬅️ push to right side */
    align-items: center;
    margin-top: 15px;
    gap: 6px;
  }

  .pagination button {
    border: 2px solid #119db8;
    background: #fff;
    color: #119db8 !important;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .pagination button:hover {
    background: #5bc4d9;
    color: #fff;
  }

  .pagination button.active {
    background: #119db8;
    color: #fff !important;
    font-weight: bold;
  }

  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pagination .dots {
    padding: 6px 10px;
    color: #999;
    font-weight: bold;
  }


  // ----------------------------------------------------------------




  /* Recent Files */
  .recentFiles ul {
    list-style: none;
    padding: 0;
  }

  .recentFiles li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    text-align: left;
  }




  // Table css 


  .arrow-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    /* allow wrapping to new row */
    align-items: center;
    font-size: 14px;
    gap: 5px;
    margin-bottom: .5rem !important;
  }

  .arrow-crumb {
    position: relative;
    padding: 8px 25px 8px 35px;
    background: #d9534f;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-right: 0;
    /* remove gap, overlap instead */
    clip-path: polygon(0 0,
        /* top left */
        calc(100% - 15px) 0,
        /* before arrow head */
        100% 50%,
        /* arrow point */
        calc(100% - 15px) 100%,
        /* after arrow head */
        0 100%,
        /* bottom left */
        15px 50%
        /* inner notch */
      );
    flex-shrink: 0;
    transition: background 0.2s;
  }

  .arrow-crumb:first-child {
    background: #c9302c;
    padding-left: 20px;
  }

  .arrow-crumb:last-child {
    background: #0096B3;
    color: #fff;
  }



  // -----------------------------------   popup         -------------------------------------------

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .modal-contentone {
    background: white;
    // padding: 20px;
    border-radius: 8px;
    min-width: 800px;
  }

  .modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }




}